body {
    border-collapse: collapse;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Висота екрану */
    margin: 0;
    background-image: url(https://st2.depositphotos.com/1836841/7976/v/450/depositphotos_79767922-stock-illustration-squared-paper-sheet-texture.jpg);
}
.dni1 {
  color: tomato;
}

.dni1:hover {
  color: red;
}
/* Зробив, Бо не знав про це!,Тепер при натисканні текст 
розмивається і його не видно */

.dni1:active {
    filter: blur(5px);
}
.urokiN {
    color: rgb(70, 46, 131);
}
.urokiN:hover {
    color: black;
}

.monday {
    color: teal;
}

.tuesday {
    color: yellowgreen;
}
.wednesday {
    color: deepskyblue;
}
.thursday {
  color: turquoise;
}
.friday {
   color: bisque;
}
.friday:hover {
    color: black;
}